<div class="fixed-top">
  <app-header></app-header>
</div>


<div class="container-fluid" style="padding-top: 70px">
  <div class="row ">
    <div class="col-9">
      <div class="bg-light text-dark">
        <div class="list-group-item">
          <div class="media">
            <img class="ml-3" src="../assets/images/man.png" alt="Generic placeholder image" style="width: 64px">
            <div class="media-body">
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <img class="ml-3" src="../assets/images/man.png" alt="Generic placeholder image" style="width: 64px">
            <div class="media-body">
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <img class="ml-3" src="../assets/images/man.png" alt="Generic placeholder image" style="width: 64px">
            <div class="media-body">
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <img class="ml-3" src="../assets/images/man.png" alt="Generic placeholder image" style="width: 64px">
            <div class="media-body">
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <img class="ml-3" src="../assets/images/man.png" alt="Generic placeholder image" style="width: 64px">
            <div class="media-body">
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <img class="ml-3" src="../assets/images/man.png" alt="Generic placeholder image" style="width: 64px">
            <div class="media-body">
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <img class="ml-3" src="../assets/images/man.png" alt="Generic placeholder image" style="width: 64px">
            <div class="media-body">
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <div class="media">
            <img class="ml-3" src="../assets/images/man.png" alt="Generic placeholder image" style="width: 64px">
            <div class="media-body">
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
              felis in faucibus.
            </div>
          </div>
        </div>
      </div>
      <!---------Creating a post-------->
      <div>
        <div class="fixed-bottom">
        
          <div class="input-group">
            <input type="textfield" class="form-control bg-dark text-light" placeholder="Whats in your mind?? Vent out" aria-label="Whats in your mind?? Vent out"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Shout Out</button>
            </div>
          </div>
        </div>
      </div>

     <!-------Side topics--------> 
    </div>
    <div class="col-3">
      <ul class="list-group">
        <div class="list-group-item list-group-item-dark">Boss</div>
        <div class="list-group-item list-group-item-dark">Government</div>
        <div class="list-group-item list-group-item-dark">Office</div>
        <div class="list-group-item list-group-item-dark">traffic</div>
        <div class="list-group-item list-group-item-dark">Boss</div>
        <div class="list-group-item list-group-item-dark">Government</div>
        <div class="list-group-item list-group-item-dark">Office</div>
        <div class="list-group-item list-group-item-dark">traffic</div>
        <div class="list-group-item list-group-item-dark">Boss</div>
        <div class="list-group-item list-group-item-dark">Government</div>
        <div class="list-group-item list-group-item-dark">Office</div>
        <div class="list-group-item list-group-item-dark">traffic</div>
      </ul>
    </div>
  </div>
</div>

